spring.datasource.url=jdbc:postgresql://localhost:5434/pedido_db
spring.datasource.username=postgres
spring.datasource.password=postgres
spring.jpa.hibernate.ddl-auto=update

logging.level.root=DEBUG
spring.jpa.show-sql=true

server.port=8082

queue.name.pedido-recebido=pedidoRecebido
spring.cloud.aws.region.static=us-east-1
spring.cloud.aws.credentials.access-key=
spring.cloud.aws.credentials.secret-key=
spring.cloud.aws.sqs.endpoint=http://localhost:4566